
/* Body Section or preliminary CSS */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&family=Slabo+27px&display=swap');

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  
}

canvas {
  position: absolute;
  top: 200px;
  left: 8px;
  right: 10px;
  z-index: -10;


}


/* Header Section */

#Header{
  background-color: #34495e;
  height: 70px;
  width: 100vw;
  
  color:#ffffff;
  justify-content:center;
  align-items: center;
  margin-bottom: 0px;
  /* border: 2px solid red; */

  
}
#Header h1 a{
  text-decoration: none;
  color: #ffffff;
}
#Header h1 a:hover{
  color: #09ba6a;
}



/* MainMenuSections */

.menu{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}


.menu h1:hover{
  color: #09ba6a;

}




/* SubMenu for Selecting Algorithms */

#algo{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  height: 30px;
}





.hg:hover{
  color: #09ba6a;
  
  

}


#algo svg{
  fill: #fff;
  height: 30px;
  margin: 0px;
  margin-top: 6px;
}



/* All the options for Selecting Algorithm sections */



.hidden{
  display: none;
}

 .activeOption{
  background-color: #34495e;
  color:#ffffff;
 
  position:absolute;
  width: 200px;
  height: 220px;
  border-radius: 5px;
  font-size: 15px;
 /* Hide this options */
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 padding: 0px;

  
  

 
  top: 75px;
  left: 305px;
  /* border: 2px solid red; */
 

}



 .activeOption ul{
  /* margin: 10px; */
  /* padding: 10px; */
  /* margin-top: 5px; */
  margin: 0px;
  padding: 0px;
  padding-left: 0px;
  padding-top: 5px;
 
  
 
  list-style: none;
}
 .activeOption ul li{
  cursor: pointer;

  margin: 8px;
  /* border: 2px solid red; */
  
  height: 20px;
  text-align: left;
  padding: 5px;
  border-radius: 5px;
  


}
.activeOption ul li:hover{
  
  background-color: #1abc9c;

}
.highlight{
  background-color: #1abc9c;
  color:#ffffff;
  border-radius: 5px;
  padding: 5px;
  
}
 .highlight p:hover{
 
  color: #fff;
  

}
 .highlight div:hover{
  fill:#fff;
  
}


/* This portion is for the sorting options algoritith */






#sort svg{
  fill: #fff;
  height: 30px;
  margin: 0px;
  margin-top: 6px;
}


#sort{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  height: 30px;
}




/* Submenu Options For Sorting Algorithms */


.hidden{
  display: none;
}

 .activeOption2{
  background-color: #34495e;
  color:#ffffff;
 
  position:absolute;
  width: 160px;
  height: 220px;
  border-radius: 5px;
  font-size: 15px;
 /* Hide this options */
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 padding: 0px;

  
  

 
  top: 75px;
  left: 480px;
  /* border: 2px solid red; */
 

}



 .activeOption2 ul{
  /* margin: 10px; */
  /* padding: 10px; */
  /* margin-top: 5px; */
  margin: 0px;
  padding: 0px;
  padding-left: 0px;
  padding-top: 5px;
 
  
 
  list-style: none;
}
 .activeOption2 ul li{
  cursor: pointer;

  margin: 5px;
  /* border: 2px solid red; */
  
  height: 24px;
  text-align: left;
  padding: 5px;
  border-radius: 5px;
  


}
.activeOption2 ul li:hover{
  
  background-color: #1abc9c;

}
.highlight{
  background-color: #1abc9c;
  color:#ffffff;
  border-radius: 5px;
  padding: 5px;
  
}
 .highlight p:hover{
 
  color: #fff;
  

}
 .highlight div:hover{
  fill:#fff;
  
}














/* Menu Options For Creating Maze */

#maze svg{
  fill: #fff;
  height: 30px;
  margin: 0px;
  margin-top: 6px;
}


#maze{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  height: 30px;
}













/* SubMenu Options For Maze  */


.hidden{
  display: none;
}

 .activeOption3{
  background-color: #34495e;
  color:#ffffff;
 
  position:absolute;
  width: 200px;
  height: 220px;
  border-radius: 5px;
  font-size: 15px;
 /* Hide this options */
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 padding: 0px;

  
  

 
  top: 75px;
  left: 670px;
  /* border: 2px solid red; */
 

}



 .activeOption3 ul{
  /* margin: 10px; */
  /* padding: 10px; */
  /* margin-top: 5px; */
  margin: 0px;
  padding: 0px;
  padding-left: 0px;
  padding-top: 5px;
 
  
 
  list-style: none;
}
 .activeOption3 ul li{
  cursor: pointer;

  margin: 5px;
  /* border: 2px solid red; */
  
  height: 24px;
  text-align: left;
  padding: 5px;
  border-radius: 5px;
  


}
.activeOption3 ul li:hover{
  
  background-color: #1abc9c;

}
.highlight{
  background-color: #1abc9c;
  color:#ffffff;
  border-radius: 5px;
  padding: 5px;
  
}
 .highlight p:hover{
 
  color: #fff;
  

}
 .highlight div:hover{
  fill:#fff;
  
}


/* This section is for visualize button */

#vsb{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  height: 35px;
  background-color: #1abc9c;
  padding: 5px;
  padding-left: 20px;
  width: 120px;
  border-radius: 8px;


}
#vsb svg{
  fill: #fff;
  height: 25px;
  margin: 0px;
  margin-top: 6px;
}
#vsb:hover{
  scale: 1.1;
  background-color: #13a689;
}


/* Clear Button */

#clr svg{
  fill: #fff;
  height: 20px;
  margin: 0px;
  margin-top: 6px;
}


#clr{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  height: 30px;
}




/* Hero Section */

#Hero{
  /* background-color: #34495e; */
  height: 70px;
  width: 100vw;
  margin-top:-8px;
  
  color:#ffffff;
  justify-content:center;
  align-items: center;
  /* border: 2px solid red; */

  
}



/* MainMenuSections */

.specs{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  
  padding-top: 10px;
  padding-left: 5px;
}
.specs .spec{
  color: black;
  display: flex;
  flex-direction:row;
  margin-left: 20px;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  
font-family: 'Slabo 27px', serif;

}
.specs .spec svg{
  height: 30px;
}


#HeroText{
  color: black;
  /* border: 2px solid red; */
  font-family: 'Slabo 27px', serif;
  font-size: 20px;
}
#HeroText p{
  text-align: center;
}